@layer base {
	@font-face {
		font-family: 'SpaceGrotest';
		font-weight: 400;
		font-display: swap;
		src: url(public/fonts/SpaceGrotest.ttf);
	}
	@font-face {
		font-family: 'SpaceMono';
		font-weight: 400;
		font-display: swap;
		src: url(public/fonts/SpaceMono.ttf);
	}
}
